<div class="container mt-3">
  <h1>Brokers and IDPs</h1>

  <form accept-charset="UTF-8" action="/admin/delete" method="post">
    <div class="row mt-3">
      <div class="col">
        <h2>Brokers</h2>
        <div class="input-group mb-3">
          <% if @brokers.empty? %>
            <div><p>No Brokers</p></div>
          <% else %>
            <% @brokers.each do |broker| %>
              <div class="row ml-1">
                <div class="col-sm-">
                  <input type="radio" name="broker" id="<%= broker.name %>" value="<%= broker.id %>">
                </div>
                <div class="col">
                  <ul class="list-group">
                    <label>
                      <li class="list-group-item"><strong>Name:</strong> <%= broker.name %></li>
                      <li class="list-group-item"><strong>Domain:</strong> <%= broker.domain %></li>
                    </label>
                  </ul>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col">
        <h2>IDPs</h2>
        <div class="input-group mb-3">
          <% if @idps.empty? %>
            <div><p>No IDPs</p></div>
          <% else %>
            <% @idps.each do |idp| %>
              <div class="row ml-1">
                <div class="col-sm-">
                  <input type="radio" name="idp" id="<%= idp.name %>" value="<%= idp.id %>">
                </div>
                <div class="col">
                  <ul class="list-group">
                    <label>
                      <li class="list-group-item"><strong>Name:</strong> <%= idp.name %></li>
                      <li class="list-group-item"><strong>Domain:</strong> <%= idp.domain %></li>
                    </label>
                  </ul>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <input type="submit" size="50" value="Delete Selected" class="btn btn-warning mt-3">
  </form>

  <div class="pt-5">
    <h3>Danger Zone!!</h3>
    <p>
      <%= link_to "Delete all Brokers", delete_organisations_path('broker'),
        class: "btn btn-danger", data: { confirm: "Are you sure? There are no take backs!" } %>
    </p>
    <p>
      <%= link_to "Delete all IDPs", delete_organisations_path('idp'),
        class: "btn btn-danger", data: { confirm: "Are you sure? There are no take backs!" } %>
    </p>
  </div>
</div>
